<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <form  method="post" th:object="${product}">
        <!--    <input th:field="*{id}" hidden="hidden"><br>-->
        <input th:field="*{name}"><br>
        <input th:field="*{img}"><br>
        <input th:field="*{price}"><br>
        <select name="idCategory">
            <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
        <button type="submit">Edit</button>
    </form>
</div>

</body>
</html>